html{
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;
    height: 100vh;
    overflow: hidden;
}

#HowTo{
    z-index: 1;
    position: fixed;
    width: 1440px;
    height: 641px;
    display: flex;
    justify-content: center;    
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#HowTo>div{
    width: 1269px;
    height: 512px;
    flex-shrink: 0;
    border: 1px dashed #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#HowTo>div>h1{
    color: #000;
    font-family: Jost;
    font-size: 46.776px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    position: relative;
}
.left_aligned{
    left:33px;
}
.right_aligned{
    right:33px;
    text-align: right;

}
#start_image_parent > *{
    z-index: 2;

}
#start_image_parent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 131px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 1em;

}
#start_image{
    width: 235px;
    height: 201px;
    flex-shrink: 0;
    position: relative;
    border-radius: 235px;
    transition: min-height 0.5s, min-width 0.5s, border-radius 0.5s, brightness 2.5s;
    overflow: hidden;

}

#start_image>img{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: none;
    scale: 2;
    border-radius: 235px;

}
#hint_guide{
    display: inline-flex;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #34B0B8;
    color: #000;
    font-family: Jost;
    font-size: 36.229px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 14em;
}

#Mission{
    opacity: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    display: block;
    z-index: 3;
    /* top: 10px; */
    background-color: rgba(0, 0, 0, .4);

}

#DoSomething{
    position: absolute;
    opacity: 0;
    color: #FFF;
    font-family: Jost;
    font-size: 21.629px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 3;
}


#sections{
    --hiddenPercent: 1;
    background-color: #BB425F;
    z-index: 0;
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 131px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Jost;
    font-size: 45.885px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.section > h1{
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
}

#sections>span{
    opacity:  calc(1 - var(--hiddenPercent));
    display: block;
    width: 1068px;
    height: 678px;
    overflow: hidden;
    position: relative;
}
#sections>span>span{
    display: block;
}
#sections>span>a>div>h1,#sections>span>span>a>div>h1{
    margin: 0;
}


#AboutMe_section{
    left: calc(var(--hiddenPercent) * -599px);
    position: absolute;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 599px;
    background: linear-gradient(0deg, #BCB2B2 0%, #BCB2B2 100%), linear-gradient(0deg, #BCB2B2 0%, #BCB2B2 100%), linear-gradient(0deg, #BCB2B2 0%, #BCB2B2 100%), #BCB2B2;
}

#Special_section{
    top: calc(var(--hiddenPercent) * -403px);

    position: absolute;
    left:260px;
    width: 533px;
    height: 403px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #B7D5C9;
    text-align: center;

}

#Portfolio_section{
    bottom: calc(var(--hiddenPercent) * -403px);
    position: absolute;
    left:260px;
    width: 533px;
    height: 403px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background: #4AAE84;
    text-align: center;
}

#Network_section{
    right: calc(var(--hiddenPercent) * -599px);
    position: absolute;
    height: 100%;
    z-index: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 599px;
    background: #7968BC;
}
